NIFI/ENGINE_DOCUMENT.json
{"flowContents":{"identifier":"75955b62-6582-334c-b542-54e4cf37101b","instanceIdentifier":"e3ff5923-0196-1000-ffff-ffffc532411f","name":"ENGINE DOCUMENT","comments":"","position":{"x":-664.0,"y":-112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b099e34c-695d-3021-8700-729e3ac172a5","instanceIdentifier":"f5af5789-0196-1000-0000-00001c65176d","name":"EvaluateJsonPath","comments":"","position":{"x":-320.0,"y":-432.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Destination":"flowfile-attribute","JOB_ID":"$.JOB_ID","NIP":"$.NIP","Max String Length":"20 MB","Return Type":"auto-detect","END_DATE":"$.END_DATE","Null Value Representation":"empty string","START_DATE":"$.START_DATE","TYPE":"$.TYPE","ACCTNO":"$.ACCTNO","Path Not Found Behavior":"warn"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JOB_ID":{"name":"JOB_ID","displayName":"JOB_ID","identifiesControllerService":false,"sensitive":false,"dynamic":true},"NIP":{"name":"NIP","displayName":"NIP","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"END_DATE":{"name":"END_DATE","displayName":"END_DATE","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"START_DATE":{"name":"START_DATE","displayName":"START_DATE","identifiesControllerService":false,"sensitive":false,"dynamic":true},"TYPE":{"name":"TYPE","displayName":"TYPE","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ACCTNO":{"name":"ACCTNO","displayName":"ACCTNO","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"9d65e19e-b651-3c04-ba0f-fe69f74b8572","instanceIdentifier":"f7e776f4-0196-1000-0000-00002d1c4cf3","name":"QueryDatabaseTableRecord","comments":"","position":{"x":-320.0,"y":-648.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Table Name":"REKENING_KORAN.CRUD","db-fetch-db-type":"Phoenix","dbf-default-precision":"10","Set Auto Commit":null,"qdbtr-record-writer":"8fa114ef-8bad-32f4-a980-5af951160f81","Max Wait Time":"0 seconds","Database Connection Pooling Service":"345e0a96-c862-3f15-9d68-1434baf2a36d","Maximum-value Columns":"JOB_ID","dbf-user-logical-types":"true","qdbt-output-batch-size":"0","qdbt-max-rows":"1","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"qdbtr-normalize":"true","Columns to Return":"JOB_ID, NIP, ACCTNO, START_DATE, END_DATE, TYPE","db-fetch-where-clause":"JOB_STATUS = 'SUBMITTED'","Database Dialect Service":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbtr-record-writer":{"name":"qdbtr-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbtr-normalize":{"name":"qdbtr-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"1b407b1b-5582-301e-ffff-ffffeb47ef84","instanceIdentifier":"5b52d85d-8038-3344-809d-116e513fbc5c","name":"ExecuteStreamCommand","comments":"","position":{"x":-320.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/home/nifi","Command Path":"/home/nifi/engine.sh","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"${JOB_ID}; ${NIP}; ${ACCTNO}; ${START_DATE}; ${END_DATE}; ${TYPE}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"ed6d414a-01cc-3974-ffff-ffffd99530e1","instanceIdentifier":"81b608e5-0db2-3b8b-8f5e-fe8bbacd14c3","name":"PutSQL","comments":"","position":{"x":-320.0,"y":192.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"UPSERT INTO REKENING_KORAN.CRUD (JOB_ID, NIP, JOB_STATUS, LINK_DOWNLOAD) \nVALUES (${JOB_ID}, ${NIP}, 'COMPLETED', 'https://cdpm1.cloudeka.ai:8443/gateway/cdp-proxy/webhdfs/v1/data/rk/report_${JOB_ID}_${NIP}_${ACCTNO}_${START_DATE}_${END_DATE}.${TYPE:toLower()}?op=OPEN')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"345e0a96-c862-3f15-9d68-1434baf2a36d","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"6794185d-c604-3ed1-8e43-60f49d935d79","instanceIdentifier":"f5bc761c-0196-1000-0000-00003a3d60e3","name":"PutSQL","comments":"","position":{"x":-320.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"UPSERT INTO REKENING_KORAN.CRUD (JOB_ID, NIP, JOB_STATUS) \nVALUES (${JOB_ID}, ${NIP}, 'PROCESSED') ","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"345e0a96-c862-3f15-9d68-1434baf2a36d","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"e63626d8-b84c-3550-0000-00007079bbda","instanceIdentifier":"dea182f7-b805-34fe-aeec-faba355bc9ca","name":"ReplaceText","comments":"","position":{"x":-320.0,"y":424.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"17921c41-13c0-371a-ba73-601da2ff576c","instanceIdentifier":"f5b0f2c6-0196-1000-0000-0000180eb533","name":"","source":{"id":"b099e34c-695d-3021-8700-729e3ac172a5","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f5af5789-0196-1000-0000-00001c65176d"},"destination":{"id":"b099e34c-695d-3021-8700-729e3ac172a5","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f5af5789-0196-1000-0000-00001c65176d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":149.0,"y":-393.0},{"x":149.0,"y":-343.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"75e57218-ab73-30fa-8b19-3d0fa21aeba2","instanceIdentifier":"f7e8435a-0196-1000-ffff-ffffbee3f317","name":"","source":{"id":"9d65e19e-b651-3c04-ba0f-fe69f74b8572","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"QueryDatabaseTableRecord","comments":"","instanceIdentifier":"f7e776f4-0196-1000-0000-00002d1c4cf3"},"destination":{"id":"b099e34c-695d-3021-8700-729e3ac172a5","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f5af5789-0196-1000-0000-00001c65176d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"a4b3013e-b61d-36d2-874e-12fad0836a3a","instanceIdentifier":"f5bcc1d0-0196-1000-0000-00006ccc7958","name":"","source":{"id":"6794185d-c604-3ed1-8e43-60f49d935d79","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"f5bc761c-0196-1000-0000-00003a3d60e3"},"destination":{"id":"1b407b1b-5582-301e-ffff-ffffeb47ef84","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"5b52d85d-8038-3344-809d-116e513fbc5c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"ceeb3e1c-02be-368d-ffff-ffffd99530e1","instanceIdentifier":"6ac14a25-3529-3f4e-906d-02baf812d072","name":"","source":{"id":"ed6d414a-01cc-3974-ffff-ffffd99530e1","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"81b608e5-0db2-3b8b-8f5e-fe8bbacd14c3"},"destination":{"id":"ed6d414a-01cc-3974-ffff-ffffd99530e1","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"81b608e5-0db2-3b8b-8f5e-fe8bbacd14c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":139.0,"y":224.0},{"x":139.0,"y":274.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"bc8b6e3d-1502-3b53-856f-07469957520f","instanceIdentifier":"f60ed37c-0196-1000-ffff-fffffd8ea043","name":"","source":{"id":"1b407b1b-5582-301e-ffff-ffffeb47ef84","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"5b52d85d-8038-3344-809d-116e513fbc5c"},"destination":{"id":"ed6d414a-01cc-3974-ffff-ffffd99530e1","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"81b608e5-0db2-3b8b-8f5e-fe8bbacd14c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"5d028224-3554-3e79-99f9-7221596a749f","instanceIdentifier":"f5bcaa1f-0196-1000-ffff-ffffd3be810b","name":"","source":{"id":"6794185d-c604-3ed1-8e43-60f49d935d79","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"f5bc761c-0196-1000-0000-00003a3d60e3"},"destination":{"id":"6794185d-c604-3ed1-8e43-60f49d935d79","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"f5bc761c-0196-1000-0000-00003a3d60e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":149.0,"y":-185.0},{"x":149.0,"y":-135.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"451dcfe7-ed8c-3ad1-a7b9-4953696ab96d","instanceIdentifier":"f5f15743-0196-1000-0000-00000ec1352b","name":"","source":{"id":"ed6d414a-01cc-3974-ffff-ffffd99530e1","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"81b608e5-0db2-3b8b-8f5e-fe8bbacd14c3"},"destination":{"id":"e63626d8-b84c-3550-0000-00007079bbda","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"ReplaceText","comments":"","instanceIdentifier":"dea182f7-b805-34fe-aeec-faba355bc9ca"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"04690e83-a59c-3140-b40a-2873d6baaad6","instanceIdentifier":"f5bc9c5d-0196-1000-ffff-ffffb0d09f48","name":"","source":{"id":"b099e34c-695d-3021-8700-729e3ac172a5","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f5af5789-0196-1000-0000-00001c65176d"},"destination":{"id":"6794185d-c604-3ed1-8e43-60f49d935d79","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"PutSQL","comments":"","instanceIdentifier":"f5bc761c-0196-1000-0000-00003a3d60e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"f9f23afb-5317-30e9-b4f8-8f435f41a468","instanceIdentifier":"fbb13c25-0196-1000-ffff-ffff92bc727f","name":"","source":{"id":"1b407b1b-5582-301e-ffff-ffffeb47ef84","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"5b52d85d-8038-3344-809d-116e513fbc5c"},"destination":{"id":"1b407b1b-5582-301e-ffff-ffffeb47ef84","type":"PROCESSOR","groupId":"75955b62-6582-334c-b542-54e4cf37101b","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"5b52d85d-8038-3344-809d-116e513fbc5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":149.0,"y":23.0},{"x":149.0,"y":73.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8158edd5-643f-3179-a9de-1b28de4401b3","instanceIdentifier":"e3ed2ff2-0196-1000-0000-000073cce336","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/opt/kafka-conf/cm-auto-global_truststore.jks","Keystore Filename":"/opt/kafka-conf/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3ff5923-0196-1000-ffff-ffffc532411f"},{"identifier":"4287e02b-ce2e-3d3c-8956-c2b52f5bf329","instanceIdentifier":"dc80d741-0196-1000-ffff-ffffd009b705","name":"cmluser","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"Kerberos Principal":"cmluser@CLOUDEKA.AI"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3ff5923-0196-1000-ffff-ffffc532411f"},{"identifier":"8fa114ef-8bad-32f4-a980-5af951160f81","instanceIdentifier":"f5ae8a20-0196-1000-ffff-ffffaa4055ad","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"},{"identifier":"345e0a96-c862-3f15-9d68-1434baf2a36d","instanceIdentifier":"f5abbe1b-0196-1000-0000-00004b99945c","name":"PQS-THIN","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0.4.10.0.0-154"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"5000 millis","Database Driver Class Name":"org.apache.phoenix.queryserver.client.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"50","dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:phoenix:thin:url=https://cdpw1.cloudeka.ai:8765/default;\nserialization=PROTOBUF;\nauthentication=SPNEGO;\nprincipal=cmluser@CLOUDEKA.AI;\nkeytab=/home/nifi/cml2.keytab","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":"4287e02b-ce2e-3d3c-8956-c2b52f5bf329","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nifi/phoenix-queryserver-client-6.0.0.7.1.9.1037-2.jar","dbcp-max-idle-conns":"50"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0.4.10.0.0-154"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"75955b62-6582-334c-b542-54e4cf37101b"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}